html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Merriweather", serif;
  background-color: #f5f5f5;
}

.paticka {
  font-size: 14px;
  color: silver;

  padding: 20px;
}

.paticka a,
.fotoby,
.fotoby a {
  color: silver;
}

.fotoby,
.fotoby a {
  text-align: center;
}
h1,
.popis {
  color: white;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 100px;
}
.zahlavi {
  background-image: url(/images/island-hlavicka.jpg);
  text-align: center;
  padding: 40px;
}
.navbar {
  padding: 50px 0;
}
.menu {
  text-decoration: none;
  color: silver;
}

h2 {
  padding: 10px;
}

hr {
  width: 2;
  color: #629edb;
  text-aligne: left;
}

@media (min-width: 480px) {
  .menu {
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid silver;
  }
  .kontejner-foto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .prvni {
    min-height: 150px;
  }
}
@media (min-width: 860px) {
  .kontejner-foto {
    display: flex;
    flex-direction: wrap;
  }
}
