html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Old Standard TT", serif;
}

.paticka {
  font-size: 14px;
  color: silver;
  background-color: #f5f5f5;
  padding: 20px;
}

.paticka a,
.fotoby,
.fotoby a {
  color: silver;
}

.fotoby,
.fotoby a {
  text-align: center;
}
h1,
.popis {
  color: white;
}

h1 {
  font-size: 100px;
}
.zahlavi {
  background-image: url(/images/island-hlavicka.jpg);
  text-align: center;
  padding: 40px;
}

.navbar {
  color: silver;
}

.prvni,
.druhy,
.treti,
.ctvrty,
.paty {
  padding: 20px;
}

@media (min-width: 480px) {
  .kontejner-foto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .prvni {
    min-height: 150px;
  }
}
@media (min-width: 860px) {
  .kontejner-foto {
    display: flex;
    flex-direction: wrap;
  }
}
